<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
This app was made following a rails tutorial. Next on the to-do list: 
<ul> 
  <li>JSON i/o</li> 
  <li>leaflet maps / postgres hooks</li> 
</p>
