<% provide(:title, 'About Us') %>

  <h1>About Us</h1>

<div class="row spacer"> 
  <div class="col-md-3"> 
    <h4> Practice Times: </h4> 
    <ul> 
      <li> Mondays and Thursdays, 9:15 to 11:00 pm</li> 
      <li> Saturdays, 2:30 to 4:30 pm </li> 
    </ul>
    <h4 class="spacer"> Location: Adair Hall</h4> 
  </div> 
</div>
