<% provide(:title, 'Brackets') %>

<div class="container"> 
  <h1>Brackets</h1> 

  <div class="row spacer"> 
    <div class="col-md-4">
      <h2>Men's Doubles:</h2> 
    </div>
    <div class="col-md-4">
      <h2>Women's Doubles:</h2> 
    </div>
    <div class="col-md-4">
      <h2>Mixed Doubles:</h2> 
    </div>
  </div> 

  <div class="row text-center"> 
    <div class="col-md-4"> 
      <a class="btn btn-primary" href="/MD-Bracket-2013-WM-Tournament.pdf"><%= fa_icon "file" %> MD Brackets</a>
    </div> 
    <div class="col-md-4"> 
      <a class="btn btn-success" href="/WD-Bracket-2013-WM-Tournament.pdf"><%= fa_icon "file" %> WD Brackets</a>
    </div> 
    <div class="col-md-4"> 
      <a class="btn btn-danger" href="/XD-Bracket-2013-WM-Tournament.pdf"><%= fa_icon "file" %> XD Brackets</a>
    </div> 
  </div> 
</div> 
