<% provide(:title, 'Contact') %>

<div class="container">
<h1>Contact</h1>
  <div class="row spacer">
    <div class="col-md-4 col-md-offset-2"> 
      <h4> Club email:</h4>  
    </div>
    <div class="col-md-4">
      <h4>Email Sameer with any issues you have with the website!</h4> 
    </div>
    <!--<div class="col-md-4"> 
      <h2>View our phone numbers on the registration form:</h2> 
    </div> 
    -->

  </div>
  <div class="row text-center"> 
    <div class="col-md-4 col-md-offset-2"> 
      <a class="btn btn-primary" href="mailto:badmintonwm@gmail.com">
        <%= fa_icon "envelope" %> badmintonwm@gmail.com</a> 
    </div> 
    <div class="col-md-4"> 
      <a class="btn btn-danger" href="mailto:sdhar@email.wm.edu">
        <%= fa_icon "envelope" %> sdhar@email.wm.edu</a> 
    </div>
    <!-- 
    <div class="col-md-4">
      <a class="btn btn-info" href="/registration.pdf">
        <%= fa_icon "file" %> Registration Form</a>
    </div> 
    -->
  </div>
</div> 

<!--
  <div class="row spacer"> 
    <h1>Safety Officers</h1> 
    <div class="col-md-6 col-md-offset-3"> 
      <table class="table table-hover"> 
        <thead> 
          <tr> 
            <th>Name</th> 
            <th>Affiliation</th> 
          </tr> 
        </thead> 

        <tbody> 
        <tr>
          <td>Yudistira Virgus</td> 
          <td>WM Badminton</td> 
        </tr>

        <tr>
          <td>Naiwen Tian</td> 
          <td>WM Badminton</td> 
        </tr>

        <tr>
          <td>Qinao Wang</td> 
          <td>WM Badminton</td> 
        </tr>
        <tr>
          <td>Arlo Hollingshad</td> 
          <td>Sports Club</td> 
        </tr>
        <tr>
          <td>Angelina Shiano</td> 
          <td>Sports Club</td> 
        </tr>
        <tr>
          <td>Cyrene Schweitzer</td> 
          <td>Sports Club</td> 
        </tr>
        </tbody> 
      </table> 
    </div> 
  </div> 
-->
