<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
Contact information: 
<ul> 
  <li>Email: wmbadminton at gmail dot com</li> 
  <li>Sameer's phone: (402) * 2 followed by 537-0003</li> 
</ul>
</p>

