<% provide(:title, 'Contact') %>

<div class="container">
<h1>Contact</h1>
  <div class="row spacer">
    <div class="span4">
      <h2> Club email:</h2>  
    </div>
    <div class="span4">
      <h2>Email Sameer with any issues you have with the website!</h2> 
    </div>
    <div class="span4"> 
      <h2>View our phone numbers on the registration form:</h2> 
    </div> 

  </div>
  <div class="row text-center"> 
    <div class="span4"> 
      <a class="btn btn-default" href="mailto:badmintonwm@gmail.com">
      <span class='icon-envelope'></span> badmintonwm@gmail.com</a> 
    </div> 
    <div class="span4"> 
      <a class="btn btn-default" href="mailto:sdhar@email.wm.edu">
      <span class='icon-envelope'></span> sdhar@email.wm.edu</a> 
    </div>
    <div class="span4">
      <%= link_to "<span class=\'icon-file\'></span> Registration Form".html_safe, "/registration.pdf", class: "btn btn-info" %>
    </div> 
  </div>
</div> 
