<div class="center hero-unit">
  <h1>William and Mary Badminton</h1>
  <p class="spacer"> 
    The William and Mary Badminton club is a club formed so that people of all skill levels
    can enjoy playing badminton. 
  </p>
  <p>
    We're holding an open tournament on the weekend of November 9th, 2013. Get information 
    and sign up at the links below! 
  </p>
  <img src= <%= asset_path('Badminton-6.jpg') %> alt="Group picture!", class="img-rounded" >
  <div class="spacer">
    <%= link_to "Tournament info", tournament_path, class: "btn btn-large btn-primary" %>
    <%= link_to "List of current entries", users_path, class: "btn btn-large btn-primary" %>
  </div>
</div>
