<% provide(:title, '2013 Tournament Results') %> 

<div class="container"> 
  <h1>Results</h1> 

  <div class="row spacer"> 
    <div class="col-md-12"> 


      <table class="table table-hover"> 
        <thead> 
        <tr>
          <th>Men's Doubles A Champions</th> 
          <th></th> 
          <th>Men's Doubles B Champions</th> 
          <th></th> 
          <th>Men's Doubles C Champions</th> 
          <th></th> 
          <th>Men's Doubles D Champions</th> 
          <th></th> 
        </tr>
        </thead> 
        <tbody> 
          <tr>
            <td>Truong Pham</td>
            <td>Bill McMahon</td> 
            <td>Gary Zhang</td>
            <td>George Chang</td> 
            <td>Brandon Hoe</td>
            <td>Leon Grodski de Barrera</td> 
            <td>Schiwei Zhang</td>
            <td>Karl Jacobson</td> 
          </tr> 
        </tbody> 
      </table> 

      <table class="table table-hover spacer"> 
        <thead> 
        <tr>
          <th>Men's Doubles A Runner-Up</th> 
          <th></th> 
          <th>Men's Doubles B Runner-Up</th> 
          <th></th> 
          <th>Men's Doubles C Runner-Up</th> 
          <th></th> 
          <th>Men's Doubles D Runner-Up</th> 
          <th></th> 
        </tr>
        </thead> 
        <tbody> 
          <tr>
            <td>Michael Crawshaw</td>
            <td>Jun Yu</td> 
            <td>David Wang</td>
            <td>Chris Flower</td> 
            <td>Kevin Tran</td>
            <td>Daniel Marsden</td> 
            <td>Pritak Patel</td>
            <td>Stephen Kwok</td> 
          </tr> 
        </tbody> 
      </table> 

      <table class="table table-hover spacer"> 
        <thead> 
        <tr>
          <th>Women's Doubles A Champions</th> 
          <th></th> 
          <th>Women's Doubles B Champions</th> 
          <th></th> 
          <th>Women's Doubles C Champions</th> 
          <th></th> 
          <th>Women's Doubles D Champions</th> 
          <th></th> 
        </tr>
        </thead> 
        <tbody> 
          <tr>
            <td>Connie Wang</td>
            <td>Yusun Wang</td> 
            <td>Jenny Cheung</td>
            <td>Sharon Ma</td> 
            <td>Jeannie Yim</td>
            <td>April Pun</td> 
            <td>Thi Pham</td>
            <td>Judith Leng</td> 
          </tr> 
        </tbody> 
      </table> 

      <table class="table table-hover spacer"> 
        <thead> 
        <tr>
          <th>Women's Doubles A Runner-Up</th> 
          <th></th> 
          <th>Women's Doubles B Runner-Up</th> 
          <th></th> 
          <th>Women's Doubles C Runner-Up</th> 
          <th></th> 
          <th>Women's Doubles D Runner-Up</th> 
          <th></th> 
        </tr>
        </thead> 
        <tbody> 
          <tr>
            <td>Lingji Zhang</td>
            <td>Pingping Fan</td> 
            <td>Shan Li</td>
            <td>Jerry Nguyen</td> 
            <td>Anusha Liyanage</td>
            <td>Gayathri Shivaraj</td> 
            <td>Daylyn Wu</td>
            <td>Evelyn Rivera</td> 
          </tr> 
        </tbody> 
      </table> 

      <table class="table table-hover spacer"> 
        <thead> 
        <tr>
          <th>Mixed Doubles A Champions</th> 
          <th></th> 
          <th>Mixed Doubles B Champions</th> 
          <th></th> 
          <th>Mixed Doubles C Champions</th> 
          <th></th> 
          <th>Mixed Doubles D Champions</th> 
          <th></th> 
        </tr>
        </thead> 
        <tbody> 
          <tr>
            <td>Michael Crawshaw</td>
            <td>Pingping Fan</td> 
            <td>Yudistira Virgus</td>
            <td>Jerry Nguyen</td> 
            <td>Stephen Kwok</td>
            <td>Yao Zhao</td> 
            <td>Xiaoping Yang</td>
            <td>Qingyan Zhu</td> 
          </tr> 
        </tbody> 
      </table> 

      <table class="table table-hover spacer"> 
        <thead> 
        <tr>
          <th>Mixed Doubles A Runner-Up</th> 
          <th></th> 
          <th>Mixed Doubles B Runner-Up</th> 
          <th></th> 
          <th>Mixed Doubles C Runner-Up</th> 
          <th></th> 
          <th>Mixed Doubles D Runner-Up</th> 
          <th></th> 
        </tr>
        </thead> 
        <tbody> 
          <tr>
            <td>Jun Yu</td>
            <td>Yusun Wang</td> 
            <td>Mani Boopathy</td>
            <td>Gayathri Shivaraj</td> 
            <td>Gary Zhang</td>
            <td>Judith Leng</td> 
            <td>Jin Su Hwang</td>
            <td>Jenny Cheung</td> 
          </tr> 
        </tbody> 
      </table> 

      </div>
    </div> 
  </div> 
  
  <div class="row spacer"> 
    <div class="col-md-4">
      <h2>Men's Doubles:</h2> 
    </div>
    <div class="col-md-4">
      <h2>Women's Doubles:</h2> 
    </div>
    <div class="col-md-4">
      <h2>Mixed Doubles:</h2> 
    </div>
  </div> 

  <div class="row text-center"> 
    <div class="col-md-4"> 
      <a class="btn btn-primary" href="/2013-WM-Tournament-MD-Result.pdf"><%= fa_icon "file" %> MD Results</a>
    </div> 
    <div class="col-md-4"> 
      <a class="btn btn-success" href="/2013-WM-Tournament-WD-Result.pdf"><%= fa_icon "file" %> WD Results</a>
    </div> 
    <div class="col-md-4"> 
      <a class="btn btn-danger" href="/2013-WM-Tournament-XD-Result.pdf"><%= fa_icon "file" %> XD Results</a>
    </div> 
  </div> 
</div> 
