<% provide(:title, '2013 Tournament Results') %> 

<div class="container"> 
  <h1>Results</h1> 

  <div class="row text-center spacer"> 
    <div class="col-md-4"> 
      <a class="btn btn-primary" href="/2013-WM-Tournament-MD-Result.pdf"><%= fa_icon "file" %> MD Results</a>
    </div> 
    <div class="col-md-4"> 
      <a class="btn btn-success" href="/2013-WM-Tournament-WD-Result.pdf"><%= fa_icon "file" %> WD Results</a>
    </div> 
    <div class="col-md-4"> 
      <a class="btn btn-danger" href="/2013-WM-Tournament-XD-Result.pdf"><%= fa_icon "file" %> XD Results</a>
    </div> 
  </div> 
</div> 
