<% provide(:title, 'Rules for Tournaments') %>
<h1>Rules</h1>

<div class="row spacer"> 
  <div class="col-md-6 col-md-offset-3"> 
    <ol>
      <li>Please show up at least <b>15 minutes</b> before your first event. 
      <li>All normal IBF laws of badminton apply (except as noted below.) 
      <li>Warm-up time is <b>strictly limited</b> to <b>5 minutes</b> for a player's first match of the tournament and 
      <b>2 minutes</b> for subsequent matches.</li> 
      <li>A team must enter the court within <b>5 minutes</b> after being called for a match, or they will be considered to 
        <b>forfeit</b> the match.</li> 
      <li>If at any time during the match you need to replace the shuttle, you need to return the worn shuttle.</li>  
      <li>Make your own line calls and keep your own score; if disputes occur, a player involved in the 
      game may ask the tournament organizer for resolution or a score/line judge. 
      <li>You may request a <b>2 minute break</b> if you are injured during the game. 
        If you are unable to continue after the break, then you must forfeit the match. 
      <li>The shuttlecock hitting any part of the ceiling will be considered a <b>fault</b>,
        and a point will be awarded to the opposing team.</li> 
      <li><b>Good sportsmanship is expected from every player.</b> If a player throws an attitude or
      displays poor sportsmanship any time during the tournamemnt, the player may be <b>disqualified</b>.
      <li>In the event of a dispute, the decision of the tournament organizer is final. 
    </ol> 
  </div>
</div>
