<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to W&M Badminton, <%= @user.name %></h1>
    <p>
      You have successfully signed up to WM Badminton! 
      Your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>PS, don't bother replying to this email, I have no idea how to 
    receive emails yet.</p> 
  </body>
</html>
