<li>
<div class="container">
  <div class="row"> 
    <div class="col-md-2 text-left"> 
      <%= link_to user.name, user %>
    </div>

    <div class="col-md-2 col-md-offset-8 text-right"> 
      Paid: <%= user.paid %>
    </div> 

  </div>
  <div class="row"> 
    <div class="col-md-3"> 
      <%= user.club %>
    </div> 
</div> 
  
</li>
