<% provide(:title, 'All entries') %>
<h1>All entries</h1>

<%= will_paginate @users, renderer: BootstrapPagination::Rails, bootstrap: 3 %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate @users, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
