<% provide(:title, @user.name) %>
<div class="container-fluid">
  <aside class="span3">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <aside id="map">
  </aside> 
</div>



<script> 
  var map = L.map('map', {
      center: [37.271, -76.715],
      zoom: 16
  });

  L.tileLayer('http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png', {
    key: '0b9e3b46e10f417182b04a610be00f88',
    styleId: 997
  }).addTo(map);

  var redMarker = L.AwesomeMarkers.icon({
    icon: 'spinner', 
    color: 'red',
    spin: true
  })

  //L.marker([<%= @user.latitude %>, <%= @user.longitude %>]).addTo(map);
  L.marker([37.271, -76.715]).addTo(map)
  .bindPopup('A pretty CSS3 popup. <br> Easily customizable.')
  .openPopup();
</script>
