<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sameer, a new admin is waiting to be approved. <h1>
    <p>
      Admin's email: <%= @admin.email %> 
    </p>
  </body>
</html>
