<% provide(:title, 'All entries') %>
<h1>All entries</h1>

<%= will_paginate @players, renderer: BootstrapPagination::Rails, bootstrap: 3 %>

<ul class="players">
  <%= render @players %>
</ul>

<%= will_paginate @players, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
