<% provide(:title, 'All entries') %>
<h1>All entries</h1>

<div class="text-center">
  <%= will_paginate @players, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
</div>

<ul class="players">
  <%= render @players %>
</ul>

<div class="text-center">
  <%= will_paginate @players, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
</div> 
