@import "bootstrap"; 
@import "font-awesome"; 


/* mixins, variables, etc. */
@mixin box_sizing {
    -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

$grayMediumLight: #eaeaea;


// Custom classes for personal use: thumbnail, container, no-gutter

.nowrap { 
  white-space: nowrap;
}

.nohover {
  &:hover {
    text-decoration: none;
  }
}

.thumbnail {
  height: 150px; 
  width: auto; 
  display: inline;
} 



.no-gutter {
  margin:  0;
  padding: 0; 
}

/* universal */

.spacer {
      margin-top: 40px; /* define margin as you see fit */
}

.center {
  text-align: center;
  float: none; 
  margin-left: auto; 
  margin-right: auto; 
  h1 {
    margin-bottom: 10px;
  }
}


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


.players {
  list-style: none;
  margin:  0;
  padding: 0; 
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}
