<div class="center hero-unit">
  <h1>William and Mary Badminton</h1>

  <h2>
      Work in progress...
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

